html{margin:0;padding:0;background:#7D8EAA}
body{margin:0;padding:0;font:normal 14px "Microsoft YaHei",Verdana;line-height:20px}
ol,ul{margin-left:20px}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
img{border:0;vertical-align:middle}
input,textarea,select{font:inherit;line-height:inherit;*font-size:100%}
fieldset{margin:2px;padding:4px}
legend{margin-left:10px;padding:0 5px}
a,a:link,a:visited{color:#0068A5;text-decoration:none}
a:hover{text-decoration:underline}
.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}

#wrap{margin:0px auto;width:1600px}
#header{background:#E0E6F0 url("images/bgMenu.gif") repeat;border:1px solid #9CA7B8}
#logo{float:left;margin:7px 4px 7px}
#nav{float:left;margin:17px 2px 0 0}
#board{float:right;padding:2px;font-size:12px;line-height:14px;position:relative}
#body{border:1px solid #9CA7B8;background:#F6F8FB;margin:-3px 0 0;padding:0 2px 2px;min-height:400px}
#footer{border:1px solid #9CA7B8;color:gray;background:#F6F8FB;padding:5px;font-size:12px;margin:-1px 0 0}

.menu{list-style:none;margin:0;padding:0;position:relative;display:none;float:left;}
.menu .simplex{list-style:none;float:left;cursor:pointer;margin:0 4px;padding:0 5px;border:1px solid transparent}
.menu .simplex a{color:black;text-decoration:none}
.menu .simplex.hover{background-color:#316ac5;border:1px solid #316ac5;color:#fff}
.menu .simplex.hover a{color:#fff}
.menu .disabled{list-style:none;float:left;color:#808080;font-size:10px;margin:0 4px;padding:3px 5px;border:1px solid transparent;text-shadow:white 0px 1px 0px;font-weight:bold}
.menu .polymorph{position: relative;list-style:none;float:left;cursor:pointer;margin:0 4px;padding:1px 5px;border:1px solid transparent}
.menu .polymorph a{color:black;text-decoration:none}
.menu .polymorph.hover{border:1px solid #316ac5;border-bottom:0;background-color:#316ac5;color:#fff}
.menu.polymorph.hover a{color:#fff}
.menu .item{list-style:none;margin:0;padding:2px 0;display:none;position:absolute;left:-1px;top:21px;border:1px solid #316ac5;z-index:999;background-color:white;}
.menu .list{list-style:none;float:none;white-space:nowrap;padding:2px 10px 2px 22px;border:0;color:black;z-index:10001}
.menu .list a{color:black}
.menu .list.hover{background-color:#316ac5;color:#fff;border:0}
.menu .list.hover a{color:#fff;text-decoration:none}
.menu .separator{list-style:none;float:left;border-left:1px solid gray;border-right:1px solid #eee;margin:8px 2px 2px 2px;height:12px;overflow:hidden}

table{background-color:#ccc;margin:10px auto;border-collapse: separate;border-spacing:1px;*border-collapse:expression('separate',cellSpacing='1px');}
table.mytable{margin:0px auto;}
table.eightypercent{width:80%}
table.hundred{width:100%}
table thead tr {background:#ddd url("images/bgMenu.gif") repeat center;}
table thead tr th{border:1px solid white;padding:6px 4px;font-weight:bold;text-align:left}
table tbody tr th{background:#ddd url("images/bgMenu.gif") repeat center;border:1px solid white;padding:6px 4px;font-weight:bold;text-align:left}
table tfoot tr th{background-color:#eee;border:1px solid white;padding:4px}
table thead tr th.sort{cursor:pointer;padding-right:25px;background-image:url("images/bgSort.gif") no-repeat center right}
table tbody tr{background-color:white}
table tbody td{padding:6px 4px;vertical-align:top}
table tbody tr.odd td{background-color:white}
table tbody tr.even td{background-color:#f8f8f8}
table tbody tr.over td{background-color:#FEEBD1}
table tbody tr.pin td{background-color:#FFCC99}
table tbody tr.bgRed td{background-color:#ff6600}
table tbody tr.bgYellow td{background-color:yellow}
table tbody tr.bgOrange td{background-color:#ffce9d}
table tbody tr.bgGreen td{background-color:#9dff9d}
table thead tr.sortUp{background-image:url("images/asc.gif")}
table thead tr.sortDown{background-image:url("images/desc.gif")}
table tbody tr.killed td{color:gray;text-decoration:line-through;font-size:12px}


table.tablesorter {}

table.tablesorter thead tr th.header {background-image: url(images/bgsort.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tablesorter thead tr th.headerSortUp {background-image: url(images/asc.gif);}
table.tablesorter thead tr th.headerSortDown {background-image: url(images/desc.gif);}
table.tablesorter thead tr th.headerSortDown, table.tablesorter thead tr th.headerSortUp {}


.title{padding:10px 0 15px;font-weight:bold;color:#D00058;font-size:20px}
.block{padding:4px;margin-bottom:10px}
.bheader{border-bottom:1px solid #ccc;font-weight:bold;color:#D00058;margin:0px 0px 10px 0px;padding:0 1px}
.bright{float:right;font-weight:normal}
.page{text-align:center;font-size:14px;border:1px solid #E6E6E6;padding:4px;margin-bottom:10px}
.attach{float:left;padding:2px;border:1px solid #CCC;width:128px;height:128px;margin:2px 2px 0 0;word-break:break-all;word-wrap:break-word}
.timestamp{color:#808080;font-size:10px;border-bottom:1px dotted gray}

.right{float:right}
.left{float:left}
.center{text-align:center}
.tiny{font-size:10px;font-weight:normal}
.small{font-size:12px;font-weight:normal}
.normal{font-size:14px;font-weight:normal}
.middle{font-size:16px;font-weight:normal}
.big{font-size:18px;font-weight:normal}
.hand{cursor:pointer}
.bold{font-weight:bold}
.underline{text-decoration:underline}
.fix{position:fixed}

.darkred{color:#D00058}
.red{color:red}
.green{color:green}
.black{color:black}
.gray{color:gray}
.blue{color:blue}
.orange{color:orange}

.mmlist{list-style:none;margin:0;padding:0}
.mmlist li{list-style:none;float:left;width:285px;padding:10px 15px 5px 0}
.mmlist li.end{padding-right:0}
.mmlist li.customerli{padding:10px 3px 5px 3px}
.mmlistt{background-color:#efefef;padding:0 4px;font-weight:bold;border:1px solid #ccc;border-bottom:0;border-radius:2px 2px 0 0;height:40px}
.mmlistt:hover{background-color:#FEEBD1}
.mmlistb{padding:4px;border:1px solid #ccc;background-color:white;height:160px;border-radius:0 0 2px 2px}
.mmlistb:hover{background-color:#FEEBD1}
/*material list background,changed with quantity*/
.mmlist .bgYellow{background-color:yellow}
.mmlist .bgRed{background-color:red}
.uploadThumb{position:absolute;background:white;border:1px solid #BBB;padding:2px;display:none}
.filequeue{border:1px solid #EEE;margin:2px 0;padding:0 5px}

.tabs{display:none;list-style:none;margin:0;padding:0 0 2px 0;line-height:normal}
.tabs dt{display:inline;cursor:pointer;color:#6d737a;background:#EDEBED;border:1px solid #c9c3ba;border-bottom:0;padding:2px 6px 2px 6px;text-decoration:none}
.tabs dt:hover{background:#f8f8f8}
.tabs dt.disabled{color:#ccc;cursor:not-allowed}
.tabs dt.selected{color:#000;background:#f8f8f8;font-weight:bold;padding:6px 6px 3px 6px}
.tabs dd{display:none;border:1px solid #c9c3ba;padding:10px;margin:2px 0 0;background:#f8f8f8}

.editQuick,.edit,.remove,.restore,.calendar,.close,.plus,.minus,.like,.dislike,.favorited,.favorite,.help,.dotRed,.dotYellow,.dotBlue,.dotGreen,.faq,.attachImage,.attachFile,.desc,.asc,.warning,.caution,.cautionTgl,.refresh,.copy,.new,.save,.showlist,.editLine,.detail,.note{background:url("/public/images/bg.gif") no-repeat 0 0;display:inline-block;vertical-align:middle}
.editQuick{width:18px;height:18px;background-position:0 0}
.edit{width:18px;height:18px;background-position:-19px 0}
.remove{width:18px;height:18px;background-position:-38px 0}
.restore{width:18px;height:18px;background-position:-57px 0}
.calendar{width:15px;height:18px;background-position:-114px 0}
.close{width:16px;height:16px;background-position:0 -19px}
.plus{width:16px;height:16px;background-position:-16px -19px}
.minus{width:16px;height:16px;background-position:-32px -19px}
.like{width:11px;height:15px;background-position:-48px -19px}
.dislike{width:11px;height:15px;background-position:-60px -19px}
.favorited{width:15px;height:15px;background-position:-72px -20px}
.favorite{width:15px;height:15px;background-position:-87px -19px}
.help{width:14px;height:14px;background-position:-103px -19px}
.dotRed{width:10px;height:10px;background-position:0 -36px}
.dotYellow{width:10px;height:10px;background-position:-11px -36px}
.dotBlue{width:10px;height:10px;background-position:-22px -36px}
.dotGreen{width:10px;height:10px;background-position:-33px -36px}
.faq{width:10px;height:10px;background-position:-44px -36px}
.attachImage{width:14px;height:14px;background-position:-55px -35px}
.attachFile{width:7px;height:10px;background-position:-130px -34px}
.desc{width:7px;height:16px;background-position:-114px -34px}
.asc{width:7px;height:16px;background-position:-122px -34px}
.warning{width:16px;height:16px;background-position:0 -51px}
.caution{width:16px;height:16px;background-position:-17px -51px}
.cautionTgl{width:18px;height:16px;background-position:-34px -51px}
.refresh{width:12px;height:16px;background-position:-53px -51px}
.copy{width:15px;height:16px;background-position:-66px -51px}
.new{width:15px;height:16px;background-position:-82px -51px}
.save{width:16px;height:16px;background-position:-98px -51px}
.showlist{width:15px;height:16px;background-position:-115px -51px}
.editLine{width:11px;height:13px;background-position:-70px -36px}
.detail{width:16px;height:12px;background-position:-82px -36px}
.note{width:14px;height:13px;background-position:-99px -36px}

/** notification **/
#notice{position:relative}
.notice,.noticeMouse{background:url("/public/images/notice.png") no-repeat 0 0;display:inline-block;vertical-align:middle}
.notice{width:19px;height:26px;background-position:0px 0px;margin:10px 20px 0 0}
.noticeMouse{width:19px;height:26px;background-position:0px -14px}
.noticeBoard{width:190px;position:absolute;border:1px solid #C2C2C2;right:0;top:30px;display:none;background:white no-repeat;list-style:none;font-size:12px;z-index:1000;padding:5px}
.noticeBoard.click{display:block;}
.noticeBoard li{margin:11px;}
#notice .nCount{position:absolute;background-color:#C90C0C;left:13px;top:6px;padding:3px;font-size:12px;color:white;border:1px solid white}

.homeBlock{width:515px;height:200px;margin:0 4px 15px;padding:2px;border:1px solid black}

.attributeSpan{margin:5px 0px 5px 20px;padding:1px 10px 1px 10px;border:1px solid #999;background:#eee;}
.loading{width:16px;height:16px;background:url("/public/images/loading.gif") no-repeat 0 0;display:inline-block;vertical-align:middle}

div.myodd{background-color:white;clear:both;}
div.myeven{background-color:#f8f8f8;clear:both;}
div.over{background-color:#FEEBD1}
div.pin{background-color:#FFCC99}

.nbspauto { left:1px !important; left:1px; _left:-1px; *left:-1px; top:-6px; position:relative;margin:0px;padding:0px; background:fff; display:none; border:1px solid #ccc; z-index:9999; background:#fff;}
.nbspauto ul { list-style:none; font-size:12px; font-family:Verdana, Geneva, sans-serif;margin:0px;padding:0px; }
.nbspauto ul li { cursor:default; text-indent:3px; text-align:left; overflow:hidden;padding:0px; }
.nbspauto ul .clicks { background:#eee;}
/**��ҳ**/
.page{ border: 1px solid #E6E6E6;border-radius: 5px 5px 5px 5px;font-size: 16px;padding: 4px;text-align: center;width:1570px;}
.page a{display: block;height: 100%;width: 100%;}
.toptip{ border: 1px solid #ff9900;border-radius: 5px 5px 5px 5px;font-size: 15px;padding: 4px;margin:4px;text-align: left;width:1570px;}

/**回到顶部**/
.backTop{position:fixed;right:10px;bottom:50px;background:#B9FFBF;border:4px solid #ccc;width:60px;height:22px;text-align:center;font-size:22px;padding:8px;}
.backTop:hover{background:#999}
/* TipTip */
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#tiptip_holder.tip_top {
	padding-bottom: 5px;
}
#tiptip_holder.tip_bottom {
	padding-top: 5px;
}
#tiptip_holder.tip_right {
	padding-left: 5px;
}
#tiptip_holder.tip_left {
	padding-right: 5px;
}
#tiptip_content {
	font-size: 13px;
	color: #000;
	text-shadow: 0 0 2px #ffc;
	padding: 4px 8px;
	border: 1px solid #FFFFCC;
	background-color: #FFFFCC;
	background-color: #FFFFCC;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #555;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #ffc;
	border-top-color: #FFFFCC;
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #ffc;
	border-bottom-color: #FFFFCC;
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #ffc;
	border-right-color: #FFFFCC;
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #ffc;
	border-left-color: #FFFFCC;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: #FFFFCC;
	border-top-color: #FFFFCC;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: #FFFFCC;
	border-bottom-color: #FFFFCC;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: #FFFFCC;
	border-right-color: #FFFFCC;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: #FFFFCC;
	border-left-color: #FFFFCC;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: #FFFFCC;
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: #FFFFCC;
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: #FFFFCC;
	}
}
/*search_menu*/
.search_menu{position:fixed;z-index:99;left:520px;top:155px;margin-top:-10px;width:450px;}
.search_menu table{border: 6px solid #ccc;}
/*form_status*/
ul.form_status{
  display: inline-block;
  margin: 2px 1px 0 0;
  padding: 0 15px 0 0;
}
ul.form_status li{
  display: inline-block;
  list-style-type: none;
  margin: 0 -16px 0 0;
  padding: 0;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
  background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
  background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
}
ul.form_status li:first-child .label{
  border-left: 1px solid #cacaca;
  padding-left: 14px;
}
ul.form_status li:last-child{
  border-right: 1px solid #cacaca;
}
ul.form_status li:last-child .label{
  padding-right: 14px;
}
ul.form_status li:last-child .arrow{
  display: none;
}
ul.form_status li .label{
  color: #4c4c4c;
  text-shadow: 0 1px 1px #fcfcfc, 0 -1px 1px #dedede;
  padding: 7px;
  display: inline-block;
  padding-left: 24px;
  margin: 0;
  position: relative;
}
ul.form_status li .arrow{
  width: 18px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin-left: 5px;
}
ul.form_status li .arrow span{
  position: relative;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-left: -12px;
  margin-top: 3px;
  box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.2), inset -1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #dedede;
  background: -moz-linear-gradient(135deg, #dedede, #fcfcfc);
  background: -o-linear-gradient(135deg, #fcfcfc, #dedede);
  background: -webkit-gradient(linear, left top, right bottom, from(#fcfcfc), to(#dedede));
  background: -ms-linear-gradient(top, #fcfcfc, #dedede);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.form_status li.active{
  background-color: #5382b9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#729fcf), to(#3465a4));
  background-image: -webkit-linear-gradient(top, #729fcf, #3465a4);
  background-image: -moz-linear-gradient(top, #729fcf, #3465a4);
  background-image: -ms-linear-gradient(top, #729fcf, #3465a4);
  background-image: -o-linear-gradient(top, #729fcf, #3465a4);
  background-image: linear-gradient(to bottom, #729fcf, #3465a4);
}
ul.form_status li.active .arrow span{
  background-color: #3465a4;
  background: -moz-linear-gradient(135deg, #3465a4, #729fcf);
  background: -o-linear-gradient(135deg, #729fcf, #3465a4);
  background: -webkit-gradient(linear, left top, right bottom, from(#729fcf), to(#3465a4));
  background: -ms-linear-gradient(top, #729fcf, #3465a4);
}
ul.form_status li.active .label{
  color: white;
  text-shadow: 0 1px 1px #729fcf, 0 -1px 1px #3465a4;
}
.psupplier .nodisplay{
	display:none;
}
/*pinvoice*/
#addSelect{
	width:100%;
	height:26px;
	font-size:16px;
}